/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f9; /* Fondo gris suave */
    color: #333; /* Gris oscuro para el texto */
    line-height: 1.6;
}

header {
    background-color: #1E2A47; /* Azul oscuro */
    color: #fff; /* Texto blanco */
    padding: 80px 0 50px; /* Espaciado superior más grande */
    text-align: center;
    border-bottom: 3px solid #3498db; /* Línea azul abajo */
}

header h1 {
    font-size: 3.5em;
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
}

/* Estilos para el Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    max-width: 90%;
    max-height: 80%;
    overflow: hidden;
}

#exerciseFrame {
    width: 100%;
    height: 100%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    color: #3498db;
    background-color: transparent;
    border: none;
}

.close:hover {
    color: #2980b9;
}

/* Estilos para el Botón "Como hacerlos" */
#btnComoHacer {
    display: inline-block;
    margin: 20px auto;
    padding: 12px 30px;
    border-radius: 30px;
    background-color: #3498db;
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 10px rgba(52, 152, 219, 0.3);
    transition: all 0.3s ease;
}

#btnComoHacer:hover {
    background-color: #2980b9;
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(52, 152, 219, 0.5);
}

/* Estilo para la Lista de Ejercicios */
#ejerciciosContainer {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ejerciciosContainer li {
    width: 90%;
    padding: 15px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

#ejerciciosContainer li:hover {
    background-color: #f1f1f1;
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Responsividad para móviles */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5em;
    }

    .login-container {
        width: 90%;
        padding: 20px;
    }

    #routine-container {
        grid-template-columns: 1fr;
        padding: 0 10px;
    }

    #ejerciciosContainer li {
        width: 100%;
        font-size: 1.1em;
    }
}

/* Botón de Cerrar Sesión */
a.logout-btn {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 12px 25px;
    border-radius: 30px;
    font-size: 1.1em;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    text-transform: uppercase;
    box-shadow: 0 4px 10px rgba(52, 152, 219, 0.3);
    margin-top: 20px;
}

a.logout-btn:hover {
    background-color: #2980b9;
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(52, 152, 219, 0.5);
}

